In [1]:
import pandas as pd
import math

In [2]:
data = pd.read_csv("train.csv")

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8925 entries, 0 to 8924
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   matchId                8925 non-null   object
 1   playerId               8925 non-null   object
 2   playType               8925 non-null   object
 3   bodyPart               8925 non-null   object
 4   x                      8925 non-null   float64
 5   y                      8925 non-null   float64
 6   interveningOpponents   8925 non-null   int64
 7   interveningTeammates   8925 non-null   int64
 8   interferenceOnShooter  8891 non-null   object
 9   minute                 8925 non-null   int64
 10  second                 8925 non-null   int64
 11  outcome                8925 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 836.8+ KB

In [37]:
#1. Players Count
data.playerId.nunique()

160

In [44]:
#2. Which Player has the most number of goals?
goal_data = data[data.outcome == "گُل"]
goal_data.playerId.value_counts().idxmax()

'p_18'

In [53]:
#3. Players That have Most rate shots to goal
most_goal = goal_data.playerId.value_counts().idxmax()
min_goal = goal_data.playerId.value_counts().idxmin()
print(most_goal, min_goal)

p_18 p_141

In [93]:
data["distance"] = data[["x", "y"]].apply(lambda position: math.dist([0, 0], [position.x, position.y]), axis=1)

In [101]:
data.describe()

,x,y,interveningOpponents,interveningTeammates,minute,second,distance
count,8925.000000,8925.000000,8925.000000,8925.000000,8925.000000,8925.000000,8925.000000
mean,14.564631,0.364408,2.531989,0.336471,48.541401,29.243810,17.145509
std,7.841865,8.999063,1.386693,0.680175,26.397998,17.306565,7.794973
min,0.000000,-33.920000,0.000000,0.000000,0.000000,0.000000,0.353553
25%,8.480000,-5.740000,2.000000,0.000000,26.000000,14.000000,10.970000
50%,12.470000,0.500000,2.000000,0.000000,49.000000,29.000000,15.871950
75%,20.950000,6.730000,3.000000,0.000000,71.000000,44.000000,23.629932
max,70.820000,33.920000,11.000000,7.000000,98.000000,59.000000,71.783221

In [100]:
#4. Most Distance
print(int(data.distance.max()))

71